# Dark
foreground            #{{base04-hex}}
background            #{{base00-hex}}
selection_foreground  #{{base04-hex}}
selection_background  #{{base01-hex}}

mark1_foreground #{{base0C-hex}}
mark2_foreground #{{base0C-hex}}
mark3_foreground #{{base0C-hex}}

url_color #{{base05-hex}}

# Cursor colors
cursor            #{{base04-hex}}
cursor_text_color #{{base03-hex}}

# Tab bar colors
active_tab_foreground   #{{base05-hex}}
active_tab_background   #{{base03-hex}}
inactive_tab_foreground #{{base04-hex}}
inactive_tab_background #{{base01-hex}}

# black (nord1 / nord3)
color0  #{{base01-hex}}
color8  #{{base03-hex}}

# red (nord11)
color1  #{{base0B-hex}}
color9  #{{base0B-hex}}

# green (nord14)
color2  #{{base0E-hex}}
color10 #{{base0E-hex}}

# yellow (nord13)
color3  #{{base0D-hex}}
color11 #{{base0D-hex}}

# blue (nord9)
color4  #{{base09-hex}}
color12 #{{base09-hex}}

# magenta (nord15)
color5  #{{base0F-hex}}
color13 #{{base0F-hex}}

# cyan (nord8)
color6  #{{base08-hex}}
color14 #{{base08-hex}}

# white (nord5)
color7  #{{base05-hex}}
color15 #{{base05-hex}}